@mixin status(){
  background: white;
  font-size: 30px;
  width: 250px;
  height: 50px;
  padding-left: 10px;
  border: grey solid 1px;
}
.active{
	color: yellow;
  padding: 5px;
  background: green;
  button{
    margin-left: 10px;
    margin-right: 10px;
  }
}
.seen{
	width: 300px;
  background: grey;
  color: red;
  height:100px;
  padding: 10px;
  margin-left: 100px;
  margin-top:10px;
}
.error{
  @include status();
  color: red;
}
.good{
  @include status();
  color: green;
}
.button{
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
#app1{
  background: #99ccff;
  padding: 10px;
  margin-top: 10px;
  button{
    margin-left: 10px;
    margin-right: 10px;
  }
}