<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vuejs-trial</title>
  </head>
  <body>
    <div id="app">
    <!-- built files will be auto injected -->
        <div v-show="errorStatus" v-tack="0">
            <class-component v-bind:class="{'error': hasError, 'good': isGood}" v-bind:status="errorStatus"></class-component>
        </div>
        <h1>{{welcome}}</h1>
        <router-link v-bind:to="'/'" class='button' v-if="isLoggedIn">Home</router-link>
        <router-link v-bind:to="'/hello'" class='button' v-if="isLoggedIn">Hello</router-link>
        <router-link v-bind:to="'/login'" class='button' v-if="!isLoggedIn">Login</router-link>
        <a href="#" v-if="isLoggedIn" @click="logout" class="button">Logout</a>
        <router-view></router-view>
        <div>
            <hr>
            <p>Click a menu item to remove it</p>
    	    <ul>
                <li is="nav-menu" v-for="(nav, index) in menu" v-bind:key="nav" v-bind:title="nav.item" @remove="subtract(index)"></li>
            </ul>
            <input v-model="newMenu" v-on:keyup.enter="addNewItem" placeholder="Add a menu item">
            <br><hr><br>
        </div>
        <div>
            <div v-if="loggedIn">
                <form name="logout">
                    <button v-on:click="login">Logout</button>
                </form>
            </div>
            <div v-else>
                
            </div>
        </div>
        <another-component v-bind:class="{'active': 'isActive'}">
            <new-component v-bind:message="another"></new-component>
            <textarea v-model="another" v-bind:class="{'seen': 'isVisible'}"></textarea>
            <br>
            <br>
            <form name="calculate">
                <label>First number:</label>
                <input type="number" placeholder="0" v-model.number="a"><br><br>
                <label>Another number:</label>
                <input type="number" placeholder="0" v-model.number="b">
                <p>Total: {{num}} </p>
            </form>
            <p>Name: {{rname}}</p>
            <p>
                <button @click="increase">Add</button>
                {{counter}}
                <button @click="decrease">Subtract</button>
            </p>
        </another-component>
    </div>
    <div id="app1">
        <p>
            <button @click="increase">Add</button>
            {{counter}}
            <button @click="decrease">Subtract</button>
        </p>
    </div>
  </body>
</html>
