.active{
	color: yellow;
  padding: 5px;
  background: green;
  height: 300px;
}
.seen{
	width: 300px;
  background: grey;
  color: red;
  height:100px;
  padding: 10px;
  margin-left: 100px;
  margin-top:10px;
}
.error{
  color: red;
}
.good{
  color: green;
}